@charset "UTF-8";
body{
	background-color: ivory;
	background-image: url(logo.png);
	background-size: 70px 70px;
	background-repeat: repeat-y;
	
	padding-left: 70px;
}
footer{
	background-color: saddlebrown;
	margin: 20px 0px 0px -10px;
	padding: 10px;
}
.td0{width: 2em;}
.td0
,.td1
,.td2{
	display: inline-block;
}

@charset "UTF-8";
.ib {
	display:inline-block;
}
.th0, .th1, .th2, .td0, .td1, .td2 {
	display:inline-block;
	padding-bottom:5px;
}
.th0, .th1, .th2 {
	text-align:center;
	font-weight:bold;
}
.th0, .td0 {
	width:4em;
}
.th1, .td1 {
	width:11em;
}

body {width:640px}
